# LRA Propulsion Code .gitignore
# James Yoder 5/25/16


#LabVIEW Files
*.aliases
*.lvlps

#TI Code Composer Studio Files
#(build artifacts)
TI\ CCS\ Workspace/**/Debug/
TI\ CCS\ Workspace/**/Release/
TI\ CCS\ Workspace/**/.launches/

TI\ CCS\ Workspace/.metadata/
TI\ CCS\ Workspace/RemoteSystemsTempFiles/
